.wrapper {
  background-color: #2e2e2e;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #fff;
  border-radius: 10px;
  width: 100px;
  padding: 10px;
}

.month {
  font-size: 20px;
}

.year {
  font-size: 10px;
}

.day {
  font-size: 30px;
}
